@import "@material/button/mdc-button";
.foo-button {
    @include mdc-button-ink-color(teal);
    @include mdc-states(teal);
}

.fade {
    &-enter-active {
        transition: all 0.5s 0.5s ease-in;
        opacity: 0;
    }
    &-leave-active {
        transition: all 0.5s ease-out;
    }
    &-enter,
    &-leave-to {
        transform: scale(0);
        opacity: 0;
    }
    &-enter-to,
    &-leave {
        transform: scale(1);
        opacity: 1;
    }
}